.overview_main_pc{
    margin-top: 3%;
    background-color: #fff;
}

.overview_userProfileArea_pc{
    margin-top: 2%;
    padding-left: 5%;
}

.updateLabel {
    font-size: 15px;
    color: blue;
}

#overview{
    font-size: 35px;
    font-weight: bold;
    margin-right: 78%;
    margin-bottom: 5%;
}

#updateLabel, #nextUpdateLabel,#updateLabel1, #updateLabel2{
    font-size: 15px;
    color: blue;
    
}

/*Current Mailing Address*/
.title, .nextTitle {
    font-size: 25px;
    font-weight: bold;
}

/*Left Side*/
#leftSide{
    position: absolute;
    left: 400px;
}

#smallLeft{
    position: absolute;
    left: 400px;
}

/*First Name*/
#firstN, #updateLabel2, #leftInput{
    position: absolute;
    left: 400px;
}

#rightSide, #updateLabel1, #nextUpdateLabel, #rightInput{
    position: absolute;
    left: 815px;
    
}






.overview_userProfileArea_pc  .input, .secondInput{
    background: #fff;
    border: none;
    border-bottom: 2px solid #e9e9e9;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
   /* height: 50px;*/
    transition: border-color 0.3s;
    
  }
  
 