
.userInfoArea_pc{
    margin: 5% 0% 5% 20%;
}
.userInfoArea_pc img{
    width: 50%;
    height: 50%;
}

.userInfoArea_pc label{
   font-size: 24px;
   font-weight: bold; 
   margin-left: 8%;
}
.userInfoArea_pc span{
   font-size: 12px;
   margin-left: 18%;
}


.cardInfo_pc{
    position: relative;
    margin-bottom: 5%;
}

.cardInfo_pc label{
    font-size: 24px;
    font-weight: bold; 
}

.cardInfo_pc span{
    font-size: 14px;
 }
.cardInfo_pc .number_title{
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight: bold; 
    top: 25%;
    left: 10%;
}
.cardInfo_pc .cardNum{
    position: absolute;
    color: white;
    font-size: 24px;
    top: 35%;
    left: 10%;
}
.cardInfo_pc .expiry_title{
    position: absolute;
    color: white;
    font-size: 12px;
    font-weight: bold; 
    bottom: 25%;
    left: 5%;
}
.cardInfo_pc .expiryDate{
position: absolute;
    color: white;
    bottom: 10%;
    left: 5%;
}

.cardInfo_pc img{
    width: 80%;
    height: 80%;
}

.transaction_pc{
    margin-top: 5%;
    margin-right: 10%;
    font-size: 18px;
}
.transaction_pc label{
    margin-top: 10%;
    font-size: 18px;
}
.transaction_pc .title{
    font-size: 24px;
    font-weight: bold; 
}
.transaction_pc span{
    margin-top: 5%;
    font-size: 15px;
}
.purchasedItem_pc{
    margin-top: 5%;
    font-size: 15px;
    
    margin-right: 50%;
}