/* synchAuction page's body*/
#synchAuctionContainer{
   background-color: #f4f1f5;  
   width: auto;
   height: auto;
}

/* bid*/
/* input-group is to call bootstrap css */
#bidContainer{
   min-height: 100%;
   margin-top: 10%;
}
#top5thBidHistory{
   background: white;
}

#bidForm{
   margin-top: 100%;
   margin-bottom: 0%;
}

/* liveStreaming*/
#liveStreamingContainer{
   margin-top: 5%;
   width: auto;
   height:100%;
}

/* synchAuctionChat */
#chatScreen{
   height:70%;
}

#chatForm{
   margin-top:5%;
   margin-bottom:0;
}

.rce-container-mbox{
   margin-top:5%;
}
.rce-container-mbox > .rce-mbox-right{
   background: greenyellow;
}

.rce-container-mbox > .rce-mbox-right>.rce-mbox-right-notch{
   fill: greenyellow;
}
/* description (PC)*/
#productDiscription{
   padding: 3% 5% 5% 5%;
   margin-top: 5%;
   margin-bottom: 10%;
   background: white;
   height:100%;
}

/*topBid*/
.placePic{
   height: auto;
   width: 25%;
   margin-right: 3%;
}

.bidPrice{
   margin-left: 5%;
}